.layoutContainer {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.mainWrapper {
  flex: 1;
  margin-left: 260px; /* Ancho del sidebar fijo */
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;
  padding: 2.5rem;
  overflow-y: auto;
}
